@model CSE_DEPARTMENT.Models.oldRoutine_41

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_HomeLayoutPage.cshtml";
}

<h2>Details</h2>

<div>
    <h4>oldRoutine_41</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.day)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.box1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.box1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.box2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.box2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.box3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.box3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.box4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.box4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.box5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.box5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.box6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.box6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.box7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.box7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.box8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.box8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.box9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.box9)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
