@model IEnumerable<CSE_DEPARTMENT.Models.Staff_Application>

@{ ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayoutPage.cshtml"; }



<br />
<br />
<br />
<br />
<br />
<br />

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h3 class="m-0 font-weight-bold text-primary">Apply For Leave</h3>

    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-condensed" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Application Title
                        </th>
                        @*<th>
            Application Tag
        </th>*@
                        <th>
                            Required Leave
                        </th>
                        <th>
                            Application Description
                        </th>
                        <th>
                            Accepted/Rejected
                        </th>
                        <th>
                            Comment
                        </th>

                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.title)
                        </td>
                        @*<td>
            @Html.DisplayFor(modelItem => item.tag)
        </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.NoOfLeave)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.description)
                        </td>
                        <td style="text-align:center">
                            @Html.DisplayFor(modelItem => item.Accepted_Rejected)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.status)
                        </td>
                        <td class="btn-group">
                            @if (User.Identity.IsAuthenticated && (User.IsInRole("SuperAdmin") || User.IsInRole("Staff")))
                            {
                                @Html.ActionLink("Edit", "Edit", new { id = item.application_id }, new { @class = "btn btn-primary" })
                                @Html.ActionLink("Delete", "Delete", new { id = item.application_id }, new { @class = "btn btn-danger" })
                            }
                        </td>
                    </tr>
                    }

                </tbody>
            </table>

        </div>

    </div>

</div>

<p>
    @if (User.Identity.IsAuthenticated && (User.IsInRole("Staff")))
    {
        @Html.ActionLink("Create A New Application", "Create", null, new { @class = "btn btn-success" })
    }

</p>