@model CSE_DEPARTMENT.Models.Application

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Application</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Year.year_name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Year.year_name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.roll)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.roll)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.title)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.title)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.tag)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.tag)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.description)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.description)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.status)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.status)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.application_id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
